# For sanity purposes, we'll opt-in to most checks.
# This avoids things breaking on newer clang-tidy versions.
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  performance-*,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-misleading-capture-default-by-value,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-no-suspend-with-lock,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-pro-bounds-pointer-arithmetic,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-pro-type-vararg,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-enum-class,
  cppcoreguidelines-virtual-class-destructor,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-noexcept-destructor,
  cppcoreguidelines-noexcept-move-operations,
  cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-use-default-member-init,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-deprecated-headers,
  modernize-avoid-c-style-cast,
  misc-unused-parameters,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -misc-confusable-identifiers,
  -clang-diagnostic-pragma-once-outside-header

WarningsAsErrors: '*'

HeaderFilterRegex: '.*(src)[\\/].*'
ExcludeHeaderFilterRegex: '.*((r|R)esource.h|deps[\/\\].*)'

FormatStyle: file
