<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <GoogleTestAdapter>
    <TestDiscoveryTimeout>10000</TestDiscoveryTimeout>
    <TestBinaryNamePattern>(.*)\.Tests\.exe$</TestBinaryNamePattern>
    <AdditionalTestDirectories>
      $(SolutionDir)\bin\$(Configuration)-$(Platform)
    </AdditionalTestDirectories>
  </GoogleTestAdapter>
</RunSettings>