InheritParentConfig: true

Checks: >
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: >
  -performance-unnecessary-copy-initialization,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-override
